#  Конфиг для patroni /etc//patroni/patroni.yml
# --------------------------------------------------------------------------
scope: rebrain
namespace: /rebrain-cluster/
name: {{ inventory_hostname }}

restapi:
  listen: {{ ansible_default_ipv4.address }}:8008 # адрес той ноды, в которой находится этот файл
  connect_address: {{ ansible_default_ipv4.address }}:8008 # адрес той ноды, в которой находится этот файл

etcd:
  hosts: {% for host in groups['etcd'] %}{{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:2379{% if not loop.last %},{% endif %}{% endfor %} # перечислите здесь все ваши ноды, в случае если вы устанавливаете etcd на них же

# this section (bootstrap) will be written into Etcd:/<namespace>/<scope>/config after initializing new cluster
# and all other cluster members will use it as a `global configuration`
bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    master_start_timeout: 180
    synchronous_mode: true
    synchronous_node_count: 1
    postgresql:
      use_pg_rewind: true
      use_slots: true
    parameters:
        effective_cache_size: 8GB
        maintenance_work_mem: 256MB
        max_connections: 2500
        max_wal_size: 4GB
        shared_buffers: 256MB
        wal_buffers: 64MB
        work_mem: 256MB
      wal_level: replica
      hot_standby: "on"
      max_wal_senders: 5
      max_replication_slots: 5
      wal_log_hints: "on"
      archive_mode: "on"
      archive_timeout: 600s
      archive_command: "cp -f %p /db/pg_archived/%f"
      recovery_conf:
        restore_command: "cp -f /db/pg_archived/%f %p"
  initdb:
  - encoding: UTF8
  - data-checksums
  - locale: en_US.UTF8
  # init pg_hba.conf должен содержать адреса ВСЕХ машин, используемых в кластере
  pg_hba:
  - local all all  trust
  - host all all 127.0.0.1/32 trust
  - host all all ::1/128 trust
  - host replication replicator ::1/128 md5
  - host replication replicator 127.0.0.1/8 md5
  {% for host in groups['patroni'] -%}
  - host replication replicator {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}/24 md5
  {% if not loop.last -%}
  {% endif -%}
  {% endfor -%}
  - host all root 0.0.0.0/0 md5
  - host all all 0.0.0.0/0 md5
  users:
    rebrain_admin:
      password: rebrain_admin_password
      options:
      - createrole
      - createdb
      - login
postgresql:
  listen: {{ ansible_default_ipv4.address }}:5432 # адрес той ноды, в которой находится этот файл
  connect_address: {{ ansible_default_ipv4.address }}:5432 # адрес той ноды, в которой находится этот файл
  data_dir: /etc/patroni/pgdata # эту директорию создаст скрипт, описанный выше и установит нужные права
  bin_dir:  /usr/lib/postgresql/13/bin # укажите путь до вашей директории с postgresql
  pgpass: /tmp/pgpass0
  authentication:
    replication:
      username: replicator
      password: replicatorSuperHarDpwd
    superuser:
      username: root
      password: admin
  create_replica_methods:
    basebackup:
      checkpoint: 'fast'
  parameters:
    unix_socket_directories: '/var/run/postgresql'
    external_pid_file: '/var/run/postgresql/13-main.pid'
    max_connections: 2500
  logging_collector: "on"
  log_directory: "/var/log/postgresql"
  log_filename: "postgresql-13-main.log"