global 
    maxconn 12000
        defaults 
            log     global 
            mode    tcp 
            retries 2 
            timeout client 30m 
            timeout connect 4s 
            timeout server 30m 
            timeout check 5s 

        listen stats
            mode http
            bind *:32700
            stats enable
            stats uri /
 
        listen master
            bind *:5000
                mode tcp
                option tcplog
                balance roundrobin
            option httpchk OPTIONS /master
            http-check expect status 200
            default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
                {% for host in groups['patroni'] -%}
                server {{ hostvars[host]['ansible_facts']['hostname'] }} {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:5432 maxconn 1500 check port 8008 inter 5432 rise 2 fall 2
                {% if not loop.last -%}
                {% endif -%}
                {% endfor +%}
                
        listen replicas
            bind *:5001
                mode tcp
                option tcplog
                balance roundrobin
            option httpchk OPTIONS /replica
            http-check expect status 200
            default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
                {% for host in groups['patroni'] -%}
                server {{ hostvars[host]['ansible_facts']['hostname'] }} {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:5432 maxconn 1500 check port 8008 inter 5000 rise 2 fall 2
                {% if not loop.last -%}
                {% endif -%}
                {% endfor +%}

        listen pgbouncer
            maxconn 12000
            bind *:6432
            mode tcp
            balance roundrobin
            option pgsql-check user admin
            default-server inter 10s fall 3 rise 3 on-marked-down shutdown-sessions
            {% for host in groups['pgbouncer'] -%}
            server {{ hostvars[host]['ansible_facts']['hostname'] }} {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:6432
            {% if not loop.last -%}
            {% endif -%}
            {% endfor -%}
