[Unit]
Description=confd service
Documentation=https://github.com/kelseyhightower/confd/blob/master/docs/
After=syslog.target network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=confd -interval 10 -backend etcd -node http://{{ hostvars['rebrain-etcd-node-1']['ansible_facts']['eth0']['ipv4']['address'] }}:2379
Restart=no

[Install]
WantedBy=multi-user.target