global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

{# node_exporter metrics #}
{# HAproxy #}
  - job_name: '{{ inventory_hostname }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:9100']

{# etcd cluster #}
  {% for host in groups['etcd'] -%}
  - job_name: '{{ hostvars[host]['ansible_facts']['hostname'] }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:9100']

  {% if not loop.last -%}
  {% endif -%}
  {% endfor %}

{# patroni cluster #}
  {% for host in groups['patroni'] -%}
  - job_name: '{{ hostvars[host]['ansible_facts']['hostname'] }}_node'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:9100']

  {% if not loop.last -%}
  {% endif -%}
  {% endfor %}

{# pgbouncer cluster #}
  {% for host in groups['pgbouncer'] -%}
  - job_name: '{{ hostvars[host]['ansible_facts']['hostname'] }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:9100']

  {% if not loop.last -%}
  {% endif -%}
  {% endfor %}                

{# postgres_exporter metrics #}
{# patroni cluster #}
  {% for host in groups['patroni'] -%}
  - job_name: '{{ hostvars[host]['ansible_facts']['hostname'] }}_postgres'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:9187']

  {% if not loop.last -%}
  {% endif -%}
  {% endfor %}